@model IEnumerable<IdentityUser>

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="text-center my-5">
			<div class="display-6">Users</div>
		</div>
	</div>
	<div class="col-md-3 d-flex justify-content-center align-items-center">
		<div class="btn-group">
			<a asp-action="Create" class="btn btn-primary rounded-2 mt-3">
				<i class="fa fa-solid fa-plus"></i>
				Create User
			</a>
		</div>
	</div>
</div>


<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>UserName</th>
			<th>Roles</th>
			<th>Operations</th>
		</tr>
	</thead>
	<tbody>
		@foreach (IdentityUser user in Model)
		{
			<tr>
				<td>@user.Id</td>
				<td>@user.UserName</td>
				<td user-name="@user.UserName" user-role="">
					<i></i>
				</td>
				<td>
					<div class="btn-group">
						<a class="btn btn btn-warning rounded-0" asp-action="Update" asp-route-id="@user.UserName"><i class="fa fa-solid fa-edit"></i> Edit</a>
						<a class="btn btn btn-info rounded-0" asp-action="ResetPassword" asp-route-id="@user.UserName"><i class="fa fa-solid fa-edit"></i> Reset Password</a>
						<form method="post" asp-action="DeleteOneUser">
							<input type="hidden" name="UserName" value="@user.UserName" />
							<button class="btn btn-danger rounded-0">
								<i class="fa fa-solid fa-trash"></i>
								Delete
							</button>
						</form>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>
